@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo!!!</h1>
    <p>Esta es mi primera aplicacion Web MVC</p>
</div>

<div class="text-center">
    <img src="img/mvc.png"/>
</div>